---
import ServiceList from '../../components/ServiceList.svelte';
import GetStarted from "../../layouts/GetStarted.astro";
---

<GetStarted
        title="DisruptDesign - Expert Logo, Visual Identity, and Web Development Services"
        description="DisruptDesign offers professional design and development services, including logo design, visual identity creation, ad creatives, promotion, and website development, with unlimited revisions and satisfaction guaranteed."
        keywords="logo design, visual identity, ad creatives, promotion, website development, graphic design, branding, design services, web design"
>
    <main class="min-h-screen p-4 md:p-10">
        <ServiceList client:only="svelte" />
    </main>
</GetStarted>

