---
import Layout from '../layouts/Layout.astro';
import Box from '../components/Box.astro';
import Logo from '../components/Logo.astro';
import QuizButton from '../components/QuizButton.svelte';
import ServiceCard from '../components/ServiceCard.astro';

const quizButtons = [
    {
        title: 'What is it?',
        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, diam sit amet dictum aliquam, massa diam aliquet nunc, sed lacinia nisl nunc sit amet nisl. Sed euismod, diam sit amet dictum aliquam, massa diam aliquet nunc, sed lacinia nisl nunc sit amet nisl.',
    },
    {
        title: 'What is it?',
        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, diam sit amet dictum aliquam, massa diam aliquet nunc, sed lacinia nisl nunc sit amet nisl. Sed euismod, diam sit amet dictum aliquam, massa diam aliquet nunc, sed lacinia nisl nunc sit amet nisl.',
    },
    {
        title: 'What is it?',
        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, diam sit amet dictum aliquam, massa diam aliquet nunc, sed lacinia nisl nunc sit amet nisl. Sed euismod, diam sit amet dictum aliquam, massa diam aliquet nunc, sed lacinia nisl nunc sit amet nisl.',
    },
    {
        title: 'What is it?',
        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, diam sit amet dictum aliquam, massa diam aliquet nunc, sed lacinia nisl nunc sit amet nisl. Sed euismod, diam sit amet dictum aliquam, massa diam aliquet nunc, sed lacinia nisl nunc sit amet nisl.',
    },
    {
        title: 'What is it?',
        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, diam sit amet dictum aliquam, massa diam aliquet nunc, sed lacinia nisl nunc sit amet nisl. Sed euismod, diam sit amet dictum aliquam, massa diam aliquet nunc, sed lacinia nisl nunc sit amet nisl.',
    },
    {
        title: 'What is it?',
        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, diam sit amet dictum aliquam, massa diam aliquet nunc, sed lacinia nisl nunc sit amet nisl. Sed euismod, diam sit amet dictum aliquam, massa diam aliquet nunc, sed lacinia nisl nunc sit amet nisl.',
    },
    {
        title: 'What is it?',
        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, diam sit amet dictum aliquam, massa diam aliquet nunc, sed lacinia nisl nunc sit amet nisl. Sed euismod, diam sit amet dictum aliquam, massa diam aliquet nunc, sed lacinia nisl nunc sit amet nisl.',
    },
]
---
<script>
    import {Rive, Layout, Fit} from "@rive-app/canvas";

    const layout = new Layout({
        fit: Fit.Cover
    })

    const r = new Rive({
        src: "https://cdn.rive.app/animations/vehicles.riv",
        canvas: document.getElementById("canvas"),
        autoplay: true,
        layout: layout,
        stateMachines: "bumpy",
        onLoad: () => {
            r.resizeDrawingSurfaceToCanvas();
        },
    });
</script>
<Layout
        title="DisruptDesign - Expert Logo, Visual Identity, and Web Development Services"
        description="DisruptDesign offers professional design and development services, including logo design, visual identity creation, ad creatives, promotion, and website development, with unlimited revisions and satisfaction guaranteed."
        keywords="logo design, visual identity, ad creatives, promotion, website development, graphic design, branding, design services, web design"
>
    <main class="px-5 py-6 md:p-10 bg-primary">
        <div class="flex md:flex-row flex-col md:gap-20">
            <div class="md:hidden mb-7">
                <Logo title="DisruptDesign"/>
            </div>
            <div class="md:w-1/3 md:order-1 order-2">
                <div class="hidden-custom md:block">
                    <Logo title="DisruptDesign"/>
                </div>
                <p class="text-secondary md:text-5xl text-3xl font-bold md:mt-10 mt-6">Remarkable logo, catchy visuals,
                    and advertising for
                    your
                    product in days</p>
                <p class="text-secondary md:text-3xl text-xl md:font-semibold md:mt-5 mt-4 opacity-40">Unlimited
                    revisions, expertly
                    handcrafted
                    logos, satisfaction guarantee without the hassle of the process for a flat fee in only two days.</p>
                <button class="border-2 border-secondary rounded-lg px-3 py-2.5 md:mt-10 mt-6 text-secondary font-semibold hover:bg-secondary hover:text-primary">
                    Take a quiz
                </button>
            </div>
            <Box/>
        </div>
        <a href="/get-started" class="get-started-link">
            <div class="flex md:flex-row flex-col md:gap-5 md:mt-10 mt-5 get-started">
                <ServiceCard
                        title="Logotype and visual identity"
                        description="Unlimited revisions, expertly handcrafted logos, satisfaction guarantee without the hassle of the process for a flat fee in only two days."
                        bgColor="bg-yellow"
                        price="199"
                        buttonText="Get Started"
                />
                <div class="bg-whispering-breeze md:w-2/3 h-[300px] md:h-[640px] md:order-last order-first">
                </div>
            </div>
        </a>
        <a href="/get-started" class="get-started-link">
            <div class="flex md:flex-row flex-col md:gap-5 md:mt-5 mt-5 get-started">
                <div class="bg-whispering-breeze md:w-2/3 h-[300px] md:h-[640px] md:h-unset md:order-first order-first">
                </div>
                <ServiceCard
                        title="Ad creatives and promotion"
                        description="Unlimited revisions, expertly handcrafted logos, satisfaction guarantee without the hassle of the process for a flat fee in only two days."
                        bgColor="bg-green"
                        price="199"
                        buttonText="Get Started"
                />
            </div>
        </a>
        <a href="/get-started" class="get-started-link">
            <div class="flex md:flex-row flex-col md:gap-5 md:mt-5 mt-5 get-started">
                <ServiceCard
                        title="Websites and development"
                        description="Unlimited revisions, expertly handcrafted logos, satisfaction guarantee without the hassle of the process for a flat fee in only two days."
                        bgColor="bg-green"
                        price="199"
                        buttonText="Get Started"
                />
                <div class="bg-whispering-breeze md:w-2/3 h-[300px] md:h-[640px] md:order-last order-first">
                </div>
            </div>
        </a>
        <div class="flex md:flex-row flex-col md:gap-20 md:mt-20 mt-16">
            <div class="md:w-1/3">
                <img src="/logos.svg" alt="logos" class="md:w-1/3"/>
                <p class="text-secondary md:text-5xl text-3xl font-bold md:mt-10 mt-6">Answering your questions</p>
                <p class="text-secondary md:text-3xl text-xl md:font-semibold md:mt-5 mt-4 opacity-40">Unlimited
                    revisions, expertly handcrafted logos, satisfaction guarantee without the hassle of the process for
                    a flat fee in only two days.</p>
                <button class="border-2 border-secondary rounded-lg px-3 py-2.5 md:mt-10 mt-6 text-secondary font-semibold hover:bg-secondary hover:text-primary">
                    Contact Us
                </button>
            </div>
            <div class="flex flex-col gap-5 md:w-2/3 md:mt-0 mt-10">
                {quizButtons.map((data) =>
                        <QuizButton title={data.title} description={data.description} client:load/>
                )}
            </div>
        </div>
        <div class="flex flex-row md:items-center items-start justify-between w-full md:mt-20 mt-16">
            <div class="flex md:flex-row flex-col md:gap-5 items-start gap-2">
                <button class="md:text-xl text-secondary hover:underline md:py-4">Terms of Service</button>
                <button class="md:text-xl text-secondary hover:underline md:py-4">Contact Us</button>
            </div>
            <button class="md:text-xl text-secondary hover:underline md:py-4">Made by GAAS</button>
        </div>
    </main>
</Layout>

<style>
    .hidden-custom {
        display: none;
    }

    @media (min-width: 768px) {
        .hidden-custom {
            display: block;
        }
    }
</style>
