---
const {bgColor, colSpan = ''} = Astro.props;
---

<div class="grid grid-cols-6 md:order-2 order-1 h-full w-full xl:w-[840px] lg:w-[720px] md:w-[540px] min-w-0 md:px-0 aspect-square">
    <div class="box bg-steel-blue relative">
        <div class="img-container w-full h-full absolute" style="background-image: url('/solar-panels.webp');"></div>
    </div>
    <div class="box bg-light-black"/>

    <!-- peatch.webp (spanning multiple rows and columns) -->
    <div class="col-span-4 row-span-2 grid"
         style="grid-template-rows: repeat(2, 1fr); grid-template-columns: repeat(4, 1fr); background-image: url('/peatch.webp'); background-size: cover;">
        <div class="box bg-transparent"/>
        <div class="box bg-transparent"/>
        <div class="box bg-transparent"/>
        <div class="box bg-transparent"/>
        <div class="box bg-transparent"/>
        <div class="box bg-transparent"/>
        <div class="box bg-transparent"/>
        <div class="box bg-transparent"/>
    </div>

    <div class="box bg-primary"/>
    <div class="box bg-primary"/>

    <!-- kulman.webp (spanning multiple rows and columns) -->
    <div class="col-span-2 row-span-2 grid"
         style="grid-template-rows: repeat(2, 1fr); grid-template-columns: repeat(2, 1fr); background-image: url('/kulman.webp'); background-size: cover;">
        <div class="box bg-transparent"/>
        <div class="box bg-transparent"/>
        <div class="box bg-transparent"/>
        <div class="box bg-transparent"/>
    </div>

    <!-- man.webp -->
    <div class="box bg-transparent relative">
        <div class="img-container w-3/4 h-3/4 absolute" style="background-image: url('/man.webp');"></div>
    </div>

    <div class="box bg-primary"/>

    <!-- one-solar.webp (spanning multiple rows and columns) -->
    <div class="col-span-2 row-span-3 grid bg-light-gray"
         style="grid-template-rows: repeat(3, 1fr); grid-template-columns: repeat(2, 1fr); background-image: url('/one-solar.webp'); background-size: cover;">
        <div class="box"/>
        <div class="box"/>
        <div class="box"/>
        <div class="box"/>
        <div class="box"/>
        <div class="box"/>
    </div>

    <div class="box bg-primary"/>
    <div class="box bg-light-black"/>
    <div class="box bg-primary"/>
    <div class="box bg-light-black"/>
    <div class="box bg-red"/>
    <div class="box bg-red"/>

    <!-- mait.webp -->
    <div class="box bg-blue relative">
        <div class="img-container w-3/4 h-3/4 absolute" style="background-image: url('/mait.webp');"></div>
    </div>

    <div class="box bg-primary"/>
    <div class="box bg-red"/>
    <div class="box bg-red"/>
    <div class="box bg-primary"/>

    <div class="box bg-green relative">
        <div class="img-container h-full absolute w-3/4" style="background-image: url('/signal.webp');"></div>
    </div>
</div>

<style>
    .box {
        @apply flex items-center justify-center h-[calc((100vw-40px)/6)] relative xl:h-[140px] lg:h-[120px] md:h-[90px] aspect-square;
    }

    .img-container {
        @apply bg-contain bg-no-repeat bg-center;
    }
</style>
