<div class="flex flex-row md:items-center items-start justify-between w-full md:px-10 px-5 md:pb-10 pb-5 md:pt-32 pt-16 bg-opacity-10 bg-secondary">
    <div class="flex md:flex-row flex-col md:gap-5 items-start gap-2">
        <button class="md:text-xl text-secondary hover:underline md:py-4">Terms of Service</button>
        <a class="md:text-xl text-secondary hover:underline md:py-4" href="https://t.me/nickaxel"
           target="_blank">
            Contact Us
        </a>
    </div>
    <a class="md:text-xl text-secondary hover:underline md:py-4" href="https://thegaas.co" target="_blank">
        Made by GAAS
    </a>
</div>