<button class="simple-button">
    Take a quiz
</button>
<a class="simple-button" href="https://t.me/nickaxel" target="_blank">
    Contact us
</a>

<style>
    .simple-button {
        @apply bg-secondary text-opacity-60 text-xl bg-opacity-10 rounded-lg md:px-4 md:py-3.5 px-3 py-3 md:mt-10 mt-6 text-secondary font-semibold md:hover:bg-opacity-20 md:hover:text-opacity-100 md:hover:shadow-lg md:hover:scale-105;
    }
</style>
