<p class="text-secondary md:text-title text-title-mobile title-font md:leading-title leading-title-mobile">
    We help startups drive
    <span>
                    <img src="/stairs.svg" alt="stairs" class="inline-block md:w-[48px] md:h-[48px] w-[24px] h-[24px]">
                </span>
    growth through design: increase brand
    <span>
                    <img src="/chat.svg" alt="chat" class="inline-block md:w-[58px] md:h-[50px] w-[30px] h-[26px]">
                </span>
    awareness, ads
    <span>
                    <img src="/mithosis.svg" alt="mithosis"
                         class="inline-block md:w-[85px] md:h-[48px] w-[42px] h-[24px]">
                </span>
    conversion, website
    <span>
                    <img src="/star.svg" alt="star" class="inline-block md:w-[69px] md:h-[69px] w-[30px] h-[30px]">
                </span>
    sales, and
    <span>
                    <img src="/hope.svg" alt="star" class="inline-block md:w-[48px] md:h-[48px] w-[24px] h-[24px]">
                </span>
    inspire investors to back them after seeing a great
    <span>
                    <img src="/union.svg" alt="star" class="inline-block md:w-[56px] md:h-[48px] w-[28px] h-[24px]">
                </span>
    pitch-deck.
</p>