---
import Layout from '../../layouts/Layout.astro';
import LeftSparks from "../../components/icons/leftSparks.astro";
import RightSparks from "../../components/icons/rightSparks.astro";
import ContentCard from "../../components/ContentCard.astro";
import Globe from "../../components/icons/globe.astro";
import Quote from "../../components/icons/quote.astro";
import Navbar from "../../components/Navbar.astro";

const title = "DisruptDesign - Expert Logo, Visual Identity, and Web Development Services";
const description = "DisruptDesign offers professional design and development services, including logo design, visual identity creation, ad creatives, promotion, and website development, with unlimited revisions and satisfaction guaranteed.";
const keywords = "logo design, visual identity, ad creatives, promotion, website development, graphic design, branding, design services, web design";
---

<Layout title={title} description={description} keywords={keywords}>
    <div class="absolute left-0 top-14 -z-10 pointer-events-none">
        <LeftSparks/>
    </div>
    <div class="absolute right-0 top-14 -z-10 pointer-events-none">
        <RightSparks/>
    </div>
    <Navbar activeTab="advertising"/>
    <section class="animate-in flex flex-col items-center gap-20 opacity-0 w-full">
        <div class="flex flex-col items-center justify-center space-y-1 px-5 w-full">
            <h1 class="mt-14 text-center md:text-[60px] md:leading-[64px] text-[40px] leading-[48px] max-w-xl md:px-0 px-2 md:tracking-[-4px] tracking-[-2px] mb-16">
                All design and marketing services to boost sales are under one roof.
            </h1>
            <ContentCard headerText="Catchy" titleText="Brand identity" href="/branding"
                         descriptionText="We develop recognisable brands and logotypes, that people understands, love, and share. It helps our clients to gain trust of their customers."/>
            <ContentCard headerText="Effective" titleText="Advertising" href="/advertisign"
                         descriptionText="We are increasing engagement and conversion of ads, conducting researches and experiments, and developing effective value propositions and visuals."/>
            <ContentCard headerText="Interesting" titleText="Content & SMM" href="/content"
                         descriptionText="We are increasing engagement of social networks and blogs by conducting researches, and developing content strategies, and writing perfect posts."/>
            <ContentCard headerText="Clear" titleText="Websites" href="/websites"
                         descriptionText="We help companies and brands to present and communicate in the customer’s world: to talk about difficult things simply, work with concerns, and inspire trust."/>
            <ContentCard headerText="Inspirational" titleText="Pitch-decks" href="/pitch-decks"
                         descriptionText="We help founders to talk about difficult things simply, work with concerns, and inspire trust of their future investors."/>
        </div>
        <div class="relative md:px-0 px-8 w-full flex items-center justify-center">
            <div class="hidden md:block absolute left-0 top-0 -z-10 pointer-events-none text-[#444] text-[32px] leading-[40px] uppercase font-bold">
                <span class="block rotate-[-17.452deg]">crypto</span>
                <span class="block mt-6 ml-[130px] rotate-[2.493deg]">fashion</span>
                <span class="block mt-8 ml-[180px] rotate-[-6.408deg]">fin-tech</span>
                <span class="block mt-10 rotate-[12.407deg]">architecture</span>
            </div>
            <div class="hidden md:block absolute right-0 top-0 -z-10 pointer-events-none text-[#444] text-[32px] leading-[40px] text-end uppercase font-bold">
                <span class="block -ml-2 rotate-[-6.408deg]">saas</span>
                <span class="block mt-6 mr-[80px] rotate-[8.759deg]">e-commerce</span>
                <span class="block mt-6 mr-[200px] rotate-[19.752deg]">baas</span>
                <span class="block mt-8 -ml-2 rotate-[-6.408deg]">climate-tech</span>
            </div>
            <div class="flex flex-col items-center justify-start text-center max-w-2xl">
                <h2 class="md:text-[60px] md:leading-[68px] text-[40px] leading-[48px] md:tracking-[-4px] tracking-[-2px]">
                    Over 50 great projects for clients allover the world
                </h2>
                <div class="mt-10 flex flex-row">
                    <Quote className="inline-block"/>
                    <p class="md:text-[20px] md:leading-[32px] text-[16px] leading-[24px] font-semibold inline-block">
                        We develop catchy and recognisable brands and
                        logotypes, that people
                        understands, love, and share. It helps our clients to gain trust of their customers.
                        <Quote className="inline-block rotate-[230deg]"/>

                    </p>
                </div>
                <p class="md:text-[16px] text-[12px] leading-[24px] font-semibold opacity-60 mt-4">
                    Sergey Fedorov, Founder of make.solar
                </p>
                <div class="flex flex-row gap-2 items-center mt-6">
                    <div class="h-2 w-2 bg-white rounded-full"></div>
                    <div class="h-2 w-2 bg-white opacity-10 rounded-full"></div>
                    <div class="h-2 w-2 bg-white opacity-10 rounded-full"></div>
                </div>
            </div>
        </div>
        <div class="flex flex-col items-center md:px-0 px-8">
            <h2 class="text-center md:text-[60px] md:leading-[68px] text-[40px] leading-[48px] md:tracking-[-4px] tracking-[-1px] max-w-2xl">
                For founders and teams that are willing to grow
            </h2>
            <div class="md:grid grid-cols-3 flex flex-col gap-4 md:items-start items-center mt-14">
                <div class="md:text-start text-center flex flex-col md:gap-3 gap-2 md:max-w-sm">
                    <p class="md:text-[24px] md:leading-[32px] text-[20px] leading-[28px] font-bold">
                        Save money and time while launching things
                    </p>
                    <p class="md:text-[20px] md:leading-[32px] text-[16px] leading-[24px] font-medium opacity-40">
                        If you are planing to launch a new product, we’ll help you to conduct a researches and develop
                        adjustable brand and communication that will allow you to test hypothesis quickly. save time and
                        money.
                    </p>
                </div>
                <div class="md:text-start text-center flex flex-col md:gap-3 gap-2 md:max-w-sm">
                    <p class="md:text-[24px] md:leading-[32px] text-[20px] leading-[28px] font-bold">
                        Improve existing product and communication
                    </p>
                    <p class="md:text-[20px] md:leading-[32px] text-[16px] leading-[24px] font-medium opacity-40">
                        Unlimited revisions, expertly handcrafted logos, satisfaction guarantee without the hassle of
                        the process for a flat fee in only two days.
                    </p>
                </div>
                <div class="md:text-start text-center flex flex-col md:gap-3 gap-2 md:max-w-sm">
                    <p class="md:text-[24px] md:leading-[32px] text-[20px] leading-[28px] font-bold">
                        Do the best while pivoting your product
                    </p>
                    <p class="md:text-[20px] md:leading-[32px] text-[16px] leading-[24px] font-medium opacity-40">
                        Making the next step is hard. Especially it’s hard to make it right. We are helping brands abd
                        companies get the best insights from their experience, and make the right decisions.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <footer class="md:mt-[260px] mt-16 flex md:flex-col flex-row md:items-center items-start justify-between md:gap-20 md:py-20 py-8 md:px-0 px-5">
        <div class="flex md:flex-row flex-col gap-5 md:items-center items-start">
            <a href="/privacy-policy" class="text-[16px] leading-[32px] font-medium">
                Privacy Policy
            </a>
            <a href="/terms-of-use" class="text-[16px] leading-[32px] font-medium">
                Terms of service
            </a>
            <a href="/credentials" class="text-[16px] leading-[32px] font-medium">
                Credentials
            </a>
            <a href="/support" class="text-[16px] leading-[32px] font-medium">
                Support
            </a>
            <a href="/instagram" class="text-[16px] leading-[32px] font-medium">
                Instagram
            </a>
            <a href="/dribble" class="text-[16px] leading-[32px] font-medium">
                Dribble
            </a>
            <a href="/twitter" class="text-[16px] leading-[32px] font-medium">
                Twitter
            </a>
        </div>
        <a href="https://thegaas.co" target="_blank"
           class="flex flex-row items-center justify-center gap-1 text-[16px] font-medium leading-[32px]">
            Made by GAAS
            <Globe/>
        </a>
    </footer>
</Layout>

<style>

</style>
