---
import Layout from '../../layouts/Layout.astro';
import LeftSparks from "../../components/icons/leftSparks.astro";
import RightSparks from "../../components/icons/rightSparks.astro";
import ContentCard from "../../components/ContentCard.astro";
import Globe from "../../components/icons/globe.astro";
import Quote from "../../components/icons/quote.astro";
import Navbar from "../../components/Navbar.astro";
import Sync from "../../components/icons/sync.astro";

const title = "DisruptDesign - Expert Logo, Visual Identity, and Web Development Services";
const description = "DisruptDesign offers professional design and development services, including logo design, visual identity creation, ad creatives, promotion, and website development, with unlimited revisions and satisfaction guaranteed.";
const keywords = "logo design, visual identity, ad creatives, promotion, website development, graphic design, branding, design services, web design";
---

<Layout title={title} description={description} keywords={keywords}>
    <Navbar activeTab="advertising"/>
    <section class="flex flex-col items-center gap-20 w-full">
        <div class="flex-col text-center items-center justify-center px-5 w-full relative">
            <div class="hidden lg:flex flex-row flex-wrap absolute top-0 left-0 max-w-sm">
                <div class="relative ml-4">
                    <img src="/story-left-1.png" alt="story-left-1" class="w-[135px] h-[170px]" />
                    <div class="absolute top-0 -left-6 rounded-[54px] flex items-center justify-center bg-light-yellow text-black px-4 h-[32px] text-[12px] font-bold leading-[20px] rotate-[-12.156deg]">
                        3.4% CTR
                    </div>
                </div>
                <div class="relative ml-4">
                    <img src="/story-left-2.png" alt="story-left-2" class="w-[160px] h-[240px]"/>
                    <div class="absolute top-0 right-0 rounded-[54px] flex items-center justify-center bg-light-pink text-black px-4 h-[32px] text-[12px] font-bold leading-[20px] rotate-[11.92deg]">
                        3.4% CTR
                    </div>
                </div>
                <div class="relative -mt-8">
                    <img src="/story-left-3.png" alt="story-left-3" class="w-[160px] h-[240px]"/>
                    <div class="absolute top-0 -right-7 rounded-[54px] flex items-center justify-center bg-light-green text-black px-4 h-[32px] text-[12px] font-bold leading-[20px] rotate-[15deg]">
                        3.4% CTR
                    </div>
                </div>
            </div>
            <div class="flex flex-col items-center space-y-3 justify-center md:px-0 px-2">
                <h1 class="mt-14 md:text-[60px] md:leading-[64px] text-[40px] leading-[48px] md:tracking-[-4px] tracking-[-2px] max-w-xl">
                    Advertising creatives that works
                </h1>
                <p class="text-[20px] leading-[32px] font-medium opacity-30 max-w-xl">
                    Making ads profitable is always tricky. But what if we
                    have the right recipe and are willing to share it?
                </p>
            </div>
            <div class="flex flex-row gap-3 items-center mt-7 justify-center">
                <button class="bg-light-pink h-[52px] w-[52px] rounded-full flex items-center justify-center">
                    <Sync/>
                </button>
                <button class="rounded-[62px] bg-light-pink text-black px-4 h-[52px] text-[16px] font-bold leading-[20px]">
                    Calculate the cost
                </button>
            </div>
            <div class="grid md:grid-cols-4 grid-cols-2 gap-10 mt-20 w-fit mx-auto">
                <div class="flex flex-col items-start justify-start text-start gap-1 md:w-[220px]">
                    <p class="text-[22px] leading-[20px] font-bold text-[#EAFC82] card-title">Firstly, make</p>
                    <p class="text-[20px] leading-[28px] font-bold">Firstly, make</p>
                    <p class="md:text-[16px] text-[13px] md:leading-[24px] leading-[18px] font-medium opacity-60">
                        We’ll help you to identify your value and describe it to users in the most clear way.
                    </p>
                </div>
                <div class="flex flex-col items-start justify-start text-start gap-1 md:w-[220px]">
                    <p class="text-[22px] leading-[20px] font-bold text-[#EAFC82] card-title">Mix it with</p>
                    <p class="text-[20px] leading-[28px] font-bold">Trustworthy design</p>
                    <p class="md:text-[16px] text-[13px] md:leading-[24px] leading-[18px] font-medium opacity-60">
                        We develop catchy and recognizable ads that will help you gain the trust of customers, and
                        increase your engagement.
                    </p>
                </div>
                <div class="flex flex-col items-start justify-start text-start gap-1 md:w-[220px]">
                    <p class="text-[22px] leading-[20px] font-bold text-[#EAFC82] card-title">Serve with</p>
                    <p class="text-[20px] leading-[28px] font-bold">The right settings</p>
                    <p class="md:text-[16px] text-[13px] md:leading-[24px] leading-[18px] font-medium opacity-60">
                        We can help ensure that your pixel and Conversion API work together seamlessly with your ads
                        settings.
                    </p>
                </div>
                <div class="flex flex-col items-start justify-start text-start gap-1 md:w-[220px]">
                    <p class="text-[22px] leading-[20px] font-bold text-[#EAFC82] card-title">Add a pinch of</p>
                    <p class="text-[20px] leading-[28px] font-bold">Experiments</p>
                    <p class="md:text-[16px] text-[13px] md:leading-[24px] leading-[18px] font-medium opacity-60">
                        To find the best audience and message match for your product, we will conduct several
                        experiments to achieve this goal.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <footer class="md:mt-[260px] mt-16 flex md:flex-col flex-row md:items-center items-start justify-between md:gap-20 md:py-20 py-8 md:px-0 px-5">
        <div class="flex md:flex-row flex-col gap-5 md:items-center items-start">
            <a href="/privacy-policy" class="text-[16px] leading-[32px] font-medium">
                Privacy Policy
            </a>
            <a href="/terms-of-use" class="text-[16px] leading-[32px] font-medium">
                Terms of service
            </a>
            <a href="/credentials" class="text-[16px] leading-[32px] font-medium">
                Credentials
            </a>
            <a href="/support" class="text-[16px] leading-[32px] font-medium">
                Support
            </a>
            <a href="/instagram" class="text-[16px] leading-[32px] font-medium">
                Instagram
            </a>
            <a href="/dribble" class="text-[16px] leading-[32px] font-medium">
                Dribble
            </a>
            <a href="/twitter" class="text-[16px] leading-[32px] font-medium">
                Twitter
            </a>
        </div>
        <a href="https://thegaas.co" target="_blank"
           class="flex flex-row items-center justify-center gap-1 text-[16px] font-medium leading-[32px]">
            Made by GAAS
            <Globe/>
        </a>
    </footer>
</Layout>

<style>

</style>
