---
import Layout from '../../layouts/Layout.astro';
import LogoBlack from "../../components/LogoBlack.astro";
---

<Layout
        title="DisruptDesign - Expert Logo, Visual Identity, and Web Development Services"
        description="DisruptDesign offers professional design and development services, including logo design, visual identity creation, ad creatives, promotion, and website development, with unlimited revisions and satisfaction guaranteed."
        keywords="logo design, visual identity, ad creatives, promotion, website development, graphic design, branding, design services, web design"
>
    <main class="min-h-screen p-6 md:p-10 flex flex-col items-center justify-start gap-4 md:gap-6">
        <LogoBlack/>
        <h1 class="text-3xl md:text-4xl font-bold text-center mt-2 md:mt-4">Something went wrong. We didn't expect this
            to happen.</h1>
        <p class="text-center">Please,
            <a href="/contact" class="text-blue-500 hover:underline">contact us</a> and we'll fix it as soon as possible.</p>
        <p class="text-center mt-4 opacity-40">Money-back guarantee.</p>
    </main>
</Layout>

