---
export interface Props {
    title: string;
    description: string;
    keywords: string;
}

const {title, description, keywords} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content={description}/>
    <meta name="keywords" content={keywords}/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="generator" content={Astro.generator}/>
    <title>{title}</title>
</head>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WF22W21DFM"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'G-WF22W21DFM');
</script>
<body>
<slot/>
</body>
</html>
<style is:global>
    button {
        @apply transition-colors duration-300 ease-in-out;
    }

    body {
        min-height: 100vh;
        font-family: 'Inter', 'Roboto', 'Helvetica', 'Arial', sans-serif;
    }

    .get-started:hover button {
        background-color: #000;
        color: #fff;
    }

    @font-face {
        font-family: 'PPEditorialNew';
        src: url('/fonts/PPEditorialNew-Regular.woff2') format('woff2'),
        url('/fonts/PPEditorialNew-Regular.woff') format('woff'),
        url('/fonts/PPEditorialNew-Regular.ttf') format('truetype'),
        url('/fonts/PPEditorialNew-Regular.otf') format('opentype'),
        url('/fonts/PPEditorialNew-Regular.eot') format('embedded-opentype');
        font-style: normal;
        font-display: swap;
    }

    .title-font {
        font-family: 'PPEditorialNew', sans-serif;
    }
</style>
